.home-container {
    margin-left: 220px;
    padding: 2rem;
    color: white;
    background-color: #161853;
    min-height: 100vh;
  }
  
  .home-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #E61783;
  }
  
  .turnos-wrapper {
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 400px;
    margin-bottom: 2rem;
  }
  
  .turnos-container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  
  .turno-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .turno-header {
    background-color: #161853;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
  }
  
  .turno-body {
    text-align: center;
    color: #161853;
    padding: 1rem;
  }
  
  .turno-numero {
    font-size: 2.5rem;
    font-weight: bold;
    color: #E61783;
    margin-bottom: 0.5rem;
  }
  
  .turno-card.vacio {
    background-color: transparent;
    border: 2px dashed #161853;
    color: #161853;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nuevo-turno-button {
    background-color: #E61783;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 0, 119, 0.5);
  }
  
  .nuevo-turno-button:hover {
    background-color: #E61783;
    transform: scale(1.1);
  }
  
  .nuevo-turno-text {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
    text-align: center;
  }
  
  .reservar-turno-button {
    background-color: #E61783;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservar-turno-button:hover {
    background-color: #e61783;
        transform: scale(1.1);

  }
  