.home-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    background-color: #161853;
    min-height: 100vh;
  }
  
  .home-title {
    font-size: 70px;
    margin-top: 0;
  }
  
  .home-subtitle {
    font-size: 40px;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .turnos-wrapper {
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 250px;
    margin-bottom: 2rem;
  }
  
  .turnos-container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 250px;
    margin: 0;
  }
  
  .turno-card {
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 250px;
    
  }
  
  .turno-header {
    background-color: #161853;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 30%;
    border: 5px solid #161853;
  }
  .turno-header h1{
    font-size: 35px;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 17px;
  }
  .turno-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #161853;
    padding: 0;
    border: 5px solid #161853;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 70%;
    justify-content: space-between;
    padding: 5px;
  }
  .turno-body p{
    margin: 0;
  }
  .turno-numero {
    font-weight: bold;
    color: #E61783;
    margin: 0;
  }
  .turno-body h2{
    font-size: 80px;
    margin: 0;
  }
  
  .turno-card.vacio {
    background-color: transparent;
    border: 5px dashed #161853;
    color: #161853;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    padding: 0;
    margin: 0;
  }
  
  .nuevo-turno-button {
    background-color: #E61783;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 0, 119, 0.5);
  }
  
  .nuevo-turno-button:hover {
    background-color: #E61783;
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  
  .nuevo-turno-text {
    font-size: 40px;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
    text-align: left;
    margin-left: 30px;
  }
  
  .reservar-turno-button {
    display: flex;
    background-color: #E61783; /* Color base */
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-size: 30px;
    border: none;
    border-radius: 40px;
    margin-top: 1rem;
    display: block;
    margin-right: auto;
    cursor: pointer;
    transition: filter 0.4s ease, transform 0.3s ease; /* Transiciones suaves */
    margin-left: 50px;
    margin-right: auto;
}

.reservar-turno-button:hover {
    background-color: #e61783; /* Mantiene el mismo color de fondo */
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
    filter: brightness(1.1);
}

.reservar-turno-button:focus,
.reservar-turno-button:active {
    outline: none; /* Evita el borde por defecto */
    background-color: #e61783; /* Asegura que el color se mantenga */
}
