.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #161853;
    color: #FFFFFF;
    height: 10vh;
    width: 100%;
    max-width: 100vw;
    padding: 10px 0;
    top: 0;
    left: 0;
    justify-content: space-between;
  }
  .faicon{
    height: 50px;
    width: auto;
    
  }
    

  .navbarlink *{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-links li:hover{
    text-decoration: underline;
    transform: scale(1.2);
  }
  .navbar-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  .navbar-links li {
    margin-top: 10px;
    font-size: 1.2rem;
    transition: all ease 0.4s;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
    
  }
  
  .navbar-links li:last-child {
    margin-top: auto;
  }
  