.reservar-turno-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    min-height: 100vh;
    background-color: #161853;
    color: #FFFFFF;
    padding: 2rem;
  }
  
  .reservar-un-turno-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .reservar-turno-card,
  .mensaje-exito-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 280px;
    text-align: center;
  }
  
  .nuevo-turno-title {
    font-size: 1.5rem;
    color: #161853;
    margin-bottom: 1rem;
  }
  
  .reservar-turno-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .reservar-turno-form label {
    font-size: 0.9rem;
    color: #161853;
    text-align: left;
  }
  
  .reservar-turno-form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .reservar-button {
    background-color: #E61783;
    color: #FFFFFF;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservar-button:hover {
    background-color: #E61783;
  }
  
  .mensaje-exito-card {
    font-size: 1.2rem;
    color: #161853;
  }
  
  .numero-turno {
    font-size: 1rem;
    color: #161853;
    margin-top: 1rem;
  }
  
  .turno-numero {
    font-size: 3rem;
    color: #E61783;
    margin-bottom: 1rem;
  }
  
  .aceptar-button {
    background-color: #E61783;
    color: #FFFFFF;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .aceptar-button:hover {
    background-color: #E61783;
  }
  